[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
cython = "*"
lime = "*"
apyori = "*"
pyfm = {git = "https://github.com/coreylynch/pyFM"}

[dev-packages]

[requires]
python_version = "3.8"
